:root{
    --hue: 250;

}
*{
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color: hsl(255, 10%, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
@media (max-width: 768px) {
    body{
        font-size: 2rem;
    }
}
#start{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    translate: -50% -50%;
    z-index: 100;
    background-color: hsl(var(--hue), 100%, 70%);
    border: 5px solid hsl(var(--hue), 100%, 95%);
    color: hsl(var(--hue), 100%, 95%);
    border-radius: 1rem;
    padding: 0.3em 0.6em;
}
@media (max-width: 768px) {
#start{
    font-size: 2rem;
}}
.container{
    display: flex;
    justify-content: center;
    flex:1;
  
}
.controls{
    display: flex;
    gap:auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.controls button{
    aspect-ratio: 1/1;
    width: 5vw;
    font-size: 3rem;
    border: none;
    background: hsl(255, 10%, 15%);;

}
@media (max-width: 768px) {
.controls button{
    font-size: 2rem;
}
}
.game-window{
    flex: 1;
    position: relative;
    aspect-ratio: 16/9;
    max-width: 1440px;
    max-height: 100dvh;
    background-color: hsl(var(--hue), 50%, 10%);
    overflow: hidden;
}
.score{

    color: hsl(var(--hue), 100%, 95%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.score span{
    padding: 1rem 2rem;
}
#playerScore{
    border-right: 5px solid hsl(var(--hue), 100%, 95%);
}
.paddle{
    --position: 50;
    height: 12%;
    width: 1%;
    background-color: hsl(var(--hue), 100%, 70%);
    
    position: absolute;
    top: calc(var(--position) * 1%);
    translate: 0 -50%;
}
#playerPaddle{
    left: 0.5%;
}
#computerPaddle{
    right: 0.5%;
}
.ball{
    --x: 50;
    --y: 50;
    width: 01.5%;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: hsl(var(--hue), 100%, 50%);
    font-size: 5rem;


    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    translate: -50% -50%;
}